# Predict House Prices

In [1]:
# If additional packages are needed but are not installed by default, uncomment the last two lines of this cell
# and replace <package list> with a list of additional packages.
# This will ensure the notebook has all the dependencies and works everywhere

#import sys
#!{sys.executable} -m pip install <package list>

In [2]:
# Libraries
import pandas as pd
import numpy as np
import sklearn

pd.set_option("display.max_columns", 101)
pd.set_option('display.max_colwidth', 100)

## Data Description

Column | Description
:---|:---
`id` | Unique ID corresponding to the locality
`income` | Average monthly income in 1000s of people living in the locality
`age` | Average age of houses in the locality
`rooms` | Average number of rooms in the houses situated in the locality
`bedrooms` | Average number of bedrooms in the houses situated in the locality
`people_per_house` | Average number of people living in each house situated in the locality
`location` | Location of the locality represented as latitude and longitude separated by a delimiter
`outcome` | The predicted median price of a house in the locality (1 - High, 0 - Low)

In [3]:
# The information dataset for the training set is already loaded below
data = pd.read_csv('train.csv')
data.head()

,id,income,age,rooms,bedrooms,population,people_per_house,location,outcome
0,0,4.5493,forty-three,4.692308,1.026525,-639.0,2.923077,37.66;-122.43,1.0
1,1,4.4391,fourteen,5.280561,1.034068,1150.0,2.304609,33.68_-117.8,1.0
2,2,3.3333,eleven,6.410397,1.164159,2466.0,3.373461,33.67_-116.31,0.0
3,3,3.2847,17.0,3.381720,1.188172,514.0,2.763441,34.24;-119.18,0.0
4,4,1.4464,17.0,5.431034,1.534483,130.0,2.241379,"37.65,-120.46",0.0

## Machine Learning

Build a machine learning model that can predict the outcome.
- **The model's performance will be evaluated on the basis of Accuracy Score.**

> #### Task:
- **Submit the predictions on the test dataset using your optimized model** <br/>
    Submit a CSV file with a header row plus each of the test entries, each on its own line. 

The file (`submissions.csv`) should have exactly 2 columns:

Column | Description
:---|:---
`id`  | Unique ID corresponding to the vehicle
`outcome`  | The predicted median price of a house in the locality (1 - High, 0 - Low)

In [4]:
test = pd.read_csv('test.csv')
test.head()

,id,income,age,rooms,bedrooms,population,people_per_house,location
0,7000,4.8854,52.0,6.437186,1.030151,-915.0,2.444724,37.33;-121.91
1,7001,1.7361,forty-two,3.000000,1.000000,26.0,1.857143,37.39_-121.9
2,7002,5.2555,22.0,4.825199,1.217934,1581.0,1.794552,34.05;-118.43
3,7003,2.3214,36.0,3.725694,0.940972,1385.0,4.809028,33.9_-118.19
4,7004,5.2078,30.0,6.332317,1.042683,-864.0,2.487805,"37.0,-122.03"

In [ ]:
#Submission
submission_df.to_csv('submissions.csv', index=False)